            <div>
                <div>
                    <p>
                        <span><b>Adjust Scale:</b></span>
                        <span></span>
                    </p>
                    <div>
                        <input type="range" min="1" max="50" value="10">
                    </div>
                </div>
                <hr>
                <div class="images grid">
                    {{#each data.hashes}}
                    <div><x-image src="https://remysharp.com/images/no-user.svg" alt="" data-src="./p/{{this}}"></div>
                    {{/each}}
                </div>
                <div>You've reached the end of your gallery.</div>
            </div>
        </div>
        <style>
            input[type=range] {
                display: block;
                width: 100%;
            }
        </style>
        <script>
            (function() {
                $(document).ready(function() {
                    const range = document.querySelector("input[type=range]");
                    range.addEventListener("input", function(e) {
                        const i = parseInt(e.target.value) / 10;
                        e.target.parentElement.parentElement.children[0].children[1].textContent = i.toFixed(1);
                        document.body.style.setProperty("--image-size", `${10*i}em`);
                    });
                    range.dispatchEvent(new CustomEvent("input"));
                });
            })();
        </script>
    </body>
</html>
