/*
*/

x-image {
    display: block;
}

body[data-page="home"] {
    --image-size: 10em;
}
body[data-page="home"] .images.grid div {
    display: inline-block;
}
body[data-page="home"] .images.grid div x-image img {
    display: block;
    height: var(--image-size, 10em);
    width: var(--image-size, 10em);
}

body[data-page="upload"] table tbody td:nth-child(1) {
    font-family: 'Courier New', 'Courier', monospace;
}
body[data-page="upload"] progress {
    display: block;
    width: 100%;
}
